* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d5e2f5;
  font-family: 'Inconsolata', monospace;
  font-family: 'Open Sans', sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 2rem;

  // .level_select_item_group {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   margin-top: 3rem;

  //   .level_select_item {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     margin-bottom: 1rem;
  //     cursor: pointer;
  //     padding: 0.5rem 1rem;
  //     border-radius: 0.5rem;
  //   }

  //   .level_easy {
  //     background-color: $easy_color;
  //   }
  //   .level_moderate {
  //     background-color: $moderate_color;
  //   }
  //   .level_hard {
  //     background-color: $hard_color;
  //   }
  //   .level_superhard {
  //     background-color: $superhard_color;
  //   }
  // }
}
