// level colors
$easy_color: rgba(68, 186, 68, 0.7);
$moderate_color: rgba(248, 197, 70, 0.947);
$hard_color: rgba(240, 96, 96, 0.952);
$super_hard_color: rgba(243, 69, 63, 0.916);

// cell colors
$correct_cell_color: rgb(66, 158, 59, 0.9);
$wrong_cell_color: rgb(227, 36, 43, 0.9);
