.board-top-bar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 800px;
  margin: 2rem auto 0;

  & > h1 {
    text-align: center;
  }

  .board-info-banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-weight: 600;
    padding: 0 0.2rem;

    & > span {
      padding: 0.3rem;
    }

    .function-key-group {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > span {
        width: 100%;
        text-align: center;
        cursor: pointer;
        padding: 0.3rem;

        &:hover {
          background-color: rgba(247, 236, 221, 0.7);
          border-radius: 0.5rem;
          transition: 0.7s;
        }
      }
    }
  }
}
