@import '../../assets/variables';

.board_top_bar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 700px;
  margin: 0.5rem auto 0;

  & > h1 {
    text-align: center;
    cursor: pointer;
    font-size: calc(1.5rem + 1vw);
  }

  .board_info_banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-weight: 600;
    padding: 0 0.2rem;

    .game_info_group {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > span {
        width: 100%;
        text-align: center;
        padding: 0.3rem;
      }

      & > span:first-child {
        border-radius: 0.5rem;
        color: #fff;
      }

      .level_easy {
        background-color: $easy_color;
      }
      .level_moderate {
        background-color: $moderate_color;
      }
      .level_hard {
        background-color: $hard_color;
      }
      .level_super_hard {
        background-color: $super_hard_color;
      }
    }

    .function_key_group {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-grow: 1;
      position: relative;

      & > span {
        width: 120px;
        text-align: center;
        cursor: pointer;
        padding: 0.3rem;

        &:hover {
          background-color: rgba(247, 236, 221, 0.7);
          border-radius: 0.5rem;
          transition: 0.7s;
        }
      }

      .success_message {
        width: fit-content;
        position: absolute;
        bottom: -5rem;
        background-color: rgb(255, 255, 255, 0.9);
        padding: 1rem 1.5rem;
        text-align: center;
        border-radius: 1rem;
        display: none;
      }

      .success_message:before {
        content: '';
        position: absolute;
        top: -0.6rem;
        left: 85%;
        transform: translateX(-50%); /* Centers the arrow */
        width: 0;
        height: 0;
        border-left: 0.6rem solid transparent; /* Size of the arrow - left side */
        border-right: 0.6rem solid transparent; /* Size of the arrow - right side */
        border-bottom: 0.6rem solid rgb(255, 255, 255, 0.9); /* Color and size of the arrow - bottom side */
      }

      .show_success_message {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .board_top_bar {
    font-size: 0.7rem;

    .board_info_banner {
      .game_info_group {
        & > span {
          padding: 0.1rem;
        }
      }
      .function_key_group {
        & > span {
          width: 80px;
          padding: 0.1rem;
        }
      }
    }
  }
}
